$color-primary: #e80074;
$color-secondary: #c200db;
$color-tertiary: #00cde5;

$bg-dark: #0c0931;
$bg-light: #1d1856;

$color-white: #fff;

$bp-smallest: 26.875em; //430px
$bp-exsmall: 31.875em; //510px
$bp-small: 37.5em; // 600px
$bp-medium: 50em; //800px
$bp-large: 75em; //1200px
$bp-largest: 112.5em; //1800px
